<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Card</title>
    </head>
    <body>
        <form th:action="@{/cards/{cardId}/update(cardId=${card.id})}" method="post" th:object="${card}">
            <label for="creditCardNumber">creditCardNumber:
                <input id="creditCardNumber" type="text" name="creditCardNumber" th:value="*{creditCardNumber}">
            </label><br>
            <label for="pin">pin:
                <input id="pin" type="text" name="pin" th:value="*{pin}">
            </label><br>
            <label for="cvv">Lastname:
                <input id="cvv" type="text" name="cvv" th:value="*{cvv}">
            </label><br>
            <label for="creditBalance">creditBalance:
                <input id="creditBalance" type="text" name="creditBalance" th:value="*{creditBalance}">
            </label><br>
            <label for="amountBalance">amountBalance
                <input id="amountBalance" type="text" name="amountBalance" th:value="*{amountBalance}">
            </label><br>
            <label for="currentBalance">currentBalance:
                <input id="currentBalance" type="text" name="currentBalance" th:value="*{currentBalance}">
            </label><br>
            <label for="minimumPayment">minimumPayment:
                <input id="minimumPayment" type="text" name="minimumPayment" th:value="*{minimumPayment}">
            </label><br>
            <label for="monthlyPayment">monthlyPayment:
                <input id="monthlyPayment" type="text" name="monthlyPayment" th:value="*{monthlyPayment}">
            </label><br>
            <label for="startDate">startDate:
                <input id="startDate" type="date" name="startDate" th:value="*{startDate}">
            </label><br>
            <label for="endDate">endDate:
                <input id="endDate" type="date" name="endDate" th:value="*{endDate}">
            </label><br>
            <div th:each="status : ${status}">
                <input th:id="${status}" type="radio" name="status" th:value="${status}" th:checked="${role == card.status}">
                <label th:for="${status}" th:text="${status}">Role name</label>
            </div>
            <label for="bankAccountId">bankAccountId:
                <input id="bankAccountId" type="text" name="bankAccountId" th:value="*{bankAccountDto.id}">
            </label><br>
            <button type="submit">Update</button>
        </form>
        <form th:action="@{/cards/{cardId}/delete(cardId=${card.id})}" th:if="${card.status == 'CANCELED'}" method="post">
            <button type="submit">Remove</button>
        </form>
    </body>
</html>